html {
  overflow-y: scroll;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
body {
  font-size: 16px;
  background: #604788;
}
.view {
  padding-top: 70px;
  padding-bottom: 20px;
  min-height: 100vh;
}
nav .logo {
  width: 120px;
  height: 50px;
  float: left;
  margin: 0px 10px;
}
nav .logo img {
  width: auto;
  max-height: 70px;
  padding: 5px;
  display: block;
  float: left;
}
nav .logo h2 {
  color: #604788;
  font-size: 1em;
  display: block;
  float: left;
  line-height: 0.8em;
  font-weight: bold;
}
nav .log-out {
  padding-right: 20px;
}
h1 {
  font-size: 2.2em;
  color: #ffffff;
}
.listPage {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.listPage header {
  height: 50px;
  margin-top: 20px;
}
.listPage header h1 {
  margin: 0;
  color: #f15929;
}
.listPage header p {
  color: #ffffff;
  padding-top: 15px;
}
.listPage fellaslist .form-control {
  border-radius: 4px 4px 0 0;
  border-bottom: none;
}
.listPage fellaslist ul li:nth-of-type(1) {
  border-radius: 0px;
}
.listPage fellaslist li {
  overflow: hidden;
  background: #604788 !important;
  color: #ffffff !important;
}
.listPage .new-list {
  background: #4b2f77;
  margin-top: -30px;
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
.listPage .new-list form {
  background: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.listPage p {
  color: #ffffff;
}
.homePage .home-view {
  color: #ffffff;
}
.login-box {
  margin: 50px auto 0;
  width: 360px;
}
.login-box .logo img {
  width: 100%;
  max-width: 200px;
  margin: 0 auto 20px;
  display: block;
}
.login-box h1 {
  color: #ffffff;
  text-align: center;
}
.login-box .login-form {
  background: #ffffff;
  padding: 12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: block;
  width: 100%;
}
.login-box .login-form input {
  font-weight: bold;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 4px 8px;
  margin: 6px 0;
  width: 100%;
  height: 40px;
}
.login-box .login-form button {
  margin-top: 10px;
  padding: 3px 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: none;
  min-width: 100px;
  height: 40px;
  background: #604788;
  color: #ffffff;
}
@media (max-width: 360px) {
  .login-box {
    width: 90%;
    margin: 20px auto;
  }
  .login-box h1 {
    font-size: 1.46666667em;
  }
}
h1 {
  transition: color 0.5s;
}
h1:hover {
  color: #f15929;
}
.shake {
  animation: shake 0.1s normal;
  -webkit-animation: shake 0.1s normal;
}
.login-form-animations input {
  transition: background-color 1s, border-color 1s, color 1s;
}
.login-form-animations ::-webkit-input-placeholder {
  color: #c5c5c5;
  opacity: 0.9;
  transition: color 1s;
  -webkit-transition: color 1s;
  font-weight: normal;
}
.login-form-animations :-moz-placeholder {
  color: #c5c5c5;
  opacity: 0.9;
  transition: color 1s;
  -moz-transition: color 1s;
  font-weight: normal;
}
.login-form-animations ::-moz-placeholder {
  color: #c5c5c5;
  opacity: 0.9;
  transition: color 1s;
  -moz-transition: color 1s;
  font-weight: normal;
}
.login-form-animations :-ms-input-placeholder {
  color: #c5c5c5;
  opacity: 0.9;
  transition: color 1s;
  -ms-transition: color 1s;
  font-weight: normal;
}
.login-form-animations button {
  transition: background-color 1s;
}
.login-form-animations:hover input {
  background-color: #604788;
  border-color: #ffffff;
  color: #ffffff;
}
.login-form-animations:hover ::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
  transition: none;
  -webkit-transition: none;
  font-weight: normal;
}
.login-form-animations:hover :-moz-placeholder {
  color: #ffffff;
  opacity: 0.7;
  transition: none;
  -moz-transition: none;
  font-weight: normal;
}
.login-form-animations:hover ::-moz-placeholder {
  color: #ffffff;
  opacity: 0.7;
  transition: none;
  -moz-transition: none;
  font-weight: normal;
}
.login-form-animations:hover :-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
  transition: none;
  -ms-transition: none;
  font-weight: normal;
}
.login-form-animations:hover button {
  background-color: #f15929;
}
.ng-enter {
  z-index: 1;
}
.ng-leave {
  z-index: 2;
}
.fadein.ng-enter,
.fadeout.ng-leave {
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -o-transition: all linear .3s;
  transition: all linear .3s;
}
.fadein.ng-enter {
  opacity: 0;
}
.fadeout.ng-leave {
  opacity: 1;
}
.fadein.ng-enter.ng-enter-active {
  transition-delay: .3s;
  opacity: 1;
}
.fadeout.ng-leave-active {
  opacity: 0;
}
.slide-down.ng-hide-add {
  -webkit-animation: 0.5s slideDown ease;
  animation: 0.5s slideDown ease;
}
.slide-up.ng-hide-remove {
  -webkit-animation: 0.5s slideUp ease;
  animation: 0.5s slideUp ease;
}
.listPage.ng-leave {
  -webkit-transform-origin: 0% 0%;
  -webkit-animation: rotateFall 1s both ease-in;
  -moz-transform-origin: 0% 0%;
  -moz-animation: rotateFall 1s both ease-in;
  transform-origin: 0% 0%;
  animation: rotateFall 1s both ease-in;
  opacity: 1!important;
}
.list-group-item.ng-enter,
.list-group-item.ng-leave {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block;
}
.list-group-item.ng-leave.list-group-item.ng-leave-active,
.list-group-item.ng-enter {
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  height: 0px;
  opacity: 0;
}
.list-group-item.ng-enter.list-group-item.ng-enter-active,
.list-group-item.ng-leave {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  height: 30px;
  opacity: 1;
}
/* rotate and fall */
@-webkit-keyframes rotateFall {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
    -webkit-animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: rotateZ(17deg);
  }
  60% {
    -webkit-transform: rotateZ(16deg);
  }
  100% {
    -webkit-transform: translateY(100%) rotateZ(17deg);
  }
}
@-moz-keyframes rotateFall {
  0% {
    -moz-transform: rotateZ(0deg);
  }
  20% {
    -moz-transform: rotateZ(10deg);
    -moz-animation-timing-function: ease-out;
  }
  40% {
    -moz-transform: rotateZ(17deg);
  }
  60% {
    -moz-transform: rotateZ(16deg);
  }
  100% {
    -moz-transform: translateY(100%) rotateZ(17deg);
  }
}
@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: rotateZ(17deg);
  }
  60% {
    transform: rotateZ(16deg);
  }
  100% {
    transform: translateY(100%) rotateZ(17deg);
  }
}
@keyframes shake {
  0% {
    margin-left: 5px;
    animation-timing-function: ease-in-out;
  }
  10% {
    margin-left: 0px;
    animation-timing-function: ease-in-out;
  }
  20% {
    margin-left: -5px;
    animation-timing-function: ease-in-out;
  }
  30% {
    margin-left: 0px;
    animation-timing-function: ease-in-out;
  }
  40% {
    margin-left: 5px;
    animation-timing-function: ease-in-out;
  }
  50% {
    margin-left: 0px;
    animation-timing-function: ease-in-out;
  }
  60% {
    margin-left: -5px;
    animation-timing-function: ease-in-out;
  }
  70% {
    margin-left: 0px;
    animation-timing-function: ease-in-out;
  }
  80% {
    margin-left: 5px;
    animation-timing-function: ease-in-out;
  }
  90% {
    margin-left: 0px;
    animation-timing-function: ease-in-out;
  }
  100% {
    margin-left: -5px;
    animation-timing-function: ease-in-out;
  }
}
@-webkit-keyframes shake {
  0% {
    margin-left: 5px;
    -webkit-animation-timing-function: ease-in-out;
  }
  10% {
    margin-left: 0px;
    -webkit-animation-timing-function: ease-in-out;
  }
  20% {
    margin-left: -5px;
    -webkit-animation-timing-function: ease-in-out;
  }
  30% {
    margin-left: 0px;
    -webkit-animation-timing-function: ease-in-out;
  }
  40% {
    margin-left: 5px;
    -webkit-animation-timing-function: ease-in-out;
  }
  50% {
    margin-left: 0px;
    -webkit-animation-timing-function: ease-in-out;
  }
  60% {
    margin-left: -5px;
    -webkit-animation-timing-function: ease-in-out;
  }
  70% {
    margin-left: 0px;
    -webkit-animation-timing-function: ease-in-out;
  }
  80% {
    margin-left: 5px;
    -webkit-animation-timing-function: ease-in-out;
  }
  90% {
    margin-left: 0px;
    -webkit-animation-timing-function: ease-in-out;
  }
  100% {
    margin-left: -5px;
    -webkit-animation-timing-function: ease-in-out;
  }
}
@-webkit-keyframes slideDown {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
}
@keyframes slideDown {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
