html {
  overflow-y: scroll;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-size: @font-rate;
  background: @brand-color1;
}

main {
}

.view {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-bottom: 20px;
  min-height: 100vh;
}

.content-holder {
  padding-top: 0px;
}

nav {
  .logo {
    width: 120px;
    height: 50px;
    float: left;
    margin: 0px 10px;
    img {
      width: auto;
      max-height: 70px;
      padding: 5px;
      display: block;
      float: left;
    }
    h2 {
      color: @brand-color1;
      font-size: 1em;
      display: block;
      float: left;
      line-height: 0.8em;
      font-weight: bold;
    }
  }
  .log-out {
    padding-right: 20px;
  }
}

.second-bg {background-color: @SECOND_BG;}

.script-pre-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: @brand-color1;
  opacity: 1;
  z-index: 99999;
  visibility: visible;

  &:after {
    content:'';
    position: absolute;
    width: 50%;
    height: 100%;
    background: @brand-color1a;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    display: block;
  }

  @SIZE: 150px;
  .elements-bootstrap {
    width: @SIZE + (@SIZE/2);
    height: @SIZE * 1.5;
    z-index: 1;
    .center-absolute();

    .loading-wrap {
      width: @SIZE;
      height: @SIZE;
      border-radius: @SIZE;
      z-index: 1;
      .center-absolute();

      .loading-ring {
        background: @brand-color2;
        width: @SIZE;
        height: @SIZE;
        border-radius: @SIZE;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;

        .bounce(1s);
      }
      .lab-beaker-icon {
        width: @SIZE - 8px;
        height: @SIZE - 8px;
        border-radius: @SIZE;
        background: @brand-color1b;
        z-index: 2;

        //blowing-bubble1 bubble
        .extra-bubbles {
          .center-absolute();
          left: -30px;
          width: 100%;

          .bubble {
            width: 10px;
            height: 10px;
            background: transparent;
            border-radius: 10px;
            border: 2px solid @brand-color2;
            position: absolute;

            &:nth-child(1) {
              .flying-blowing-bubble(2s, 15%, @brand-color2);
              .animation-delay(-1.2s);
              left: 60%;
            }
            &:nth-child(2) {
              .flying-blowing-bubble(2s, 17%, @brand-color2);
              .animation-delay(-.8s);
              left: 50%;
            }
            &:nth-child(3) {
              .flying-blowing-bubble(2s, 25%, @brand-color2);
              left: 65%;
            }
          }
        }

        .center-absolute();
        .lab-beaker-icon(.2);
        .all {
          left: -(@SIZE/2) - 5px;
          top: 20px;
          .bubble1 {
            .flying-bubble(2s, 35%);
          }
          .bubble2 {
            .flying-bubble2(1s, 60%);
            .animation-delay(-2s);
            .animation-duration(3s);
            left: 56%!important;
          }
          .bubble3 {
            .flying-bubble2(1s, 60%);
            .animation-duration(2s);
            left: 40%!important;
            display: block!important;
          }
        }
      }
    }

    p {
      text-align: center;
      color: @brand-color0;
      display: inline-block;
      font-size: 1.2em;
      z-index: 3;
      position: absolute;
      bottom: -14px;
      left: 0;
      right: 0;
      span {
        color: @brand-color2;
      }
    }
  }

//<!--<div class="big-bobble"></div>-->
  //.big-bobble {
  //  width: 100px;
  //  height: 100px;
  //  background: transparent;
  //  border-radius: 100px;
  //  border: 10px solid @brand-color2;
  //  position: absolute;
  //  left: 400px;
  //  top: 30%;
  //
  //  .flying(12s, 25%, @brand-color2);
  //}

  &.remove-pre-loader {
    opacity: 0;
    z-index: 0;
    visibility: hidden;
  }
}