<div class="wrapper container">
    <div class="row">
        <div ng-show="{{'oldList'}}" class="col-xs-{{gridColumn}}">
            <h1>Good fellas.</h1>
            <fellaslist>
                <input class="form-control" type="text" ng-model="search.$" />    
                <ul class="list-group">
                    <li class="list-group-item clearfix" enter="shake" leave ng-repeat="fella in fellas| filter:search | orderBy:'name'">
                        <div class="col-lg-5">
                            <h3>{{ fella.name}}</h3>
                            <ul class="list-inline">
                                <li ng-repeat="ff in fella.friends">{{ ff.name}}</li>
                            </ul>
                        </div>
                        <div class="col-lg-7">
                            <div class="blockquote-reverse">{{ fella.company}}</div>
                        </div>
                    </li>
                </ul>
            </fellaslist>
        </div>
        <div ng-show="{{'newList'}}" class="col-xs-{{gridColumn}}">
            <h1>Bad fellas.</h1>
            <fellaslist>
                <input class="form-control" type="text" ng-model="search.$" />    
                <ul class="list-group">
                    <li class="list-group-item clearfix" ng-repeat="fella in fellas| filter:search | orderBy:'name'">
                        <div class="col-lg-5">
                            <h3>{{ fella.name}}</h3>
                        </div>
                        <div class="col-lg-7">
                            <div class="blockquote-reverse">{{ fella.company}}</div>
                        </div>
                    </li>
                </ul>
            </fellaslist>
        </div>
        <div ng-show="{{'newList'}}" class="col-xs-{{gridColumn}}">
            blablabla
        </div>
    </div>
</div>