<div class="wrapper container">
    <div class="row {{currentList}}" ng-show="{{'oldList'}}">
        <div  class="col-xs-{{gridColumn}}">
            <h1>Good fellas.</h1>
            <fellaslist>
                <input class="form-control" type="text" ng-model="search.$" />    
                <ul class="list-group">
                    <li class="list-group-item clearfix" enter="shake" leave ng-repeat="fella in fellas| filter:search | orderBy:'name'">
                        <div class="col-lg-5">
                            <h3>{{ fella.name}}</h3>
                            <ul class="list-inline">
                                <li ng-repeat="ff in fella.friends">{{ ff.name}}</li>
                            </ul>
                        </div>
                        <div class="col-lg-7">
                            <div class="blockquote-reverse">{{ fella.company}}</div>
                        </div>
                    </li>
                </ul>
            </fellaslist>
        </div>
    </div>
    <div class="row {{currentList}}" ng-show="{{'newList'}}">
        <div class="col-xs-{{gridColumn}}">
            <header>
                <h1>Bad fellas.</h1>
            </header>
            <fellaslist>
                <input class="form-control" type="text" placeholder="...search for fellas" ng-model="search.$" />    
                <ul class="list-group">
                    <li class="list-group-item clearfix" enter="shake" leave ng-repeat="fella in fellas| filter:search | orderBy:'surname'">
                        <div class="col-lg-5">
                            <h4>{{ fella.name + fella.surname }}</h4>
                        </div>
                        <div class="col-lg-7">
                            <h4>{{ fella.company }}</h4>
                        </div>
                    </li>
                </ul>
            </fellaslist>
        </div>
        <div class="col-xs-{{gridColumn}}">
            <header>
                <p>Update the list with a new fella!</p>
            </header>
            <form name="AddNewFella" ng-submit="addNew()">
                <div class="form-group">
                    <input type="text" ng-model="fella.name" class="form-control" placeholder="Enter first name" required>
                </div>
                <div class="form-group">
                    <input type="text" ng-model="fella.surname" class="form-control" placeholder="Enter last name" required>
                </div>
                <div class="form-group">
                    <input type="text" ng-model="fella.company" class="form-control" placeholder="Enter company name" required>
                </div>
                <div class="form-group">
                    <input type="email" ng-model="fella.email" class="form-control" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <input type="tel" ng-model="fella.phone" class="form-control" placeholder="Enter phone number" required>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                <!--ng-disabled="!AddNewFella.$valid"-->
            </form>
        </div>
    </div>
</div>