<div>
    <fellaslist></fellaslist>
    <input class="form-control" type="text" ng-model="search.$" />    
    <ul class="list-group">
        <li class="list-group-item clearfix" ng-repeat="fella in fellas| filter:search | orderBy:'name'">
            <div class="col-lg-2">
                <h3>{{ fella.name}}</h3>
                <ul class="list-inline">
                    <li ng-repeat="ff in fella.friends">{{ ff.name}}</li>
                </ul>
            </div>
            <div class="col-lg-10">
                <div class="blockquote-reverse">{{ fella.company}}</div>
            </div>
        </li>
    </ul>
</div>